@font-face {
  font-family: "Source Code Pro";
}


@font-face {
  font-family: 'Roboto', sans-serif;
}


body {
  margin: 0 auto;
  border: 0;
  padding: 0;
  width: 1000px;
  background-color: rgb(255, 255, 255);
  overflow-y: scroll;
}


footer {
  text-align: center;
  padding: 30px 0;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 120%;
}


footer > a {
  text-decoration: underline;
  margin: 0 10px;
}


#projects {}

#about {}

#source {}

#copy {}

#tst {}

#current {}

#mode-icon {}

#content {}


#thumbnails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
}


#thumbnails > div {
  position: relative;
}


#thumbnails > div > div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  font-size: 240%;
  font-family: "Roboto";
  text-align: center;
  background-color: rgba(1, 1, 1, 0.65);
  opacity: 0;
  cursor: pointer;
}


#thumbnails > div > div:hover {
  transition: 0.5s;
  opacity: 1;
}


#thumbnails > div > div:not(:hover) {
  transition: 0.5s;
  opacity: 0;
 }


 #thumbnails > div > div > span {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 90%;
 }


#thumbnails img {
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}


#nav {
  height: 50px;
  margin: 70px 0 35px;
  display: flex;
  align-items: center;
  position: relative;
  --underline-width: 0;
  --underline-offset-x: 0;
  --main-bg-color: black;
}


#nav::before {
  content: "";
  position: absolute;
  top: 40px;
  height: 1px;
  transform: translateX(var(--underline-offset-x));
  width: var(--underline-width);
  background-color: var(--main-bg-color);
  transition: transform 0.5s, width 0.5s;
}


#nav a {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 140%;
  color: black;
  text-decoration: none;
  margin: 0 24px;
  cursor: pointer;
}


#nav a:first-of-type {
  margin-left: 0;
}


#nav a:last-of-type {
  margin-right: 0;
}


#nav button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}


#nav button:first-of-type {
  margin-left: auto;
}


#nav button img {
  height: 30px;
  width: 30px;
  /* -webkit-transform: scaleX(-1);
  transform: scaleX(-1); */
}


.dark {
  background-color: rgb(32, 34, 36) !important;
  color: white !important;
  font-weight: 400;
}


.text p {
  color: rgba(120, 120, 120 ,1);
  font-family: "Roboto";
  font-weight: 700;
  font-size: 135%;
  padding: 40px 60px 0 60px;
  line-height: 175%;
}

.text h1 {
  font-size: 230%;
  color: black;
  margin: 90px auto 70px;
  font-family: "Roboto";
  font-weight: 600;
  /* border: 1px solid red; */
  text-align: center;
  vertical-align: middle;
  color: rgba(120, 120, 120 ,1);
}

.text img {
  /* width: 12%; */
    display:block;
    margin: 10px auto 40px;
    height: 700px;
    width: 700px;
}

/* .text p {

}

.text h2 {
    font-size: 180%;
  color: black;
  margin: 50px auto 20px;
  /* border: 1px solid red; */
  /* text-align: center;
  vertical-align: middle;
} */ 
